body {
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FDFFFC;
  color: #0A0908;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
